.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: darkgray;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  width: 30vw;
  height: 30vw;
  margin: auto;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  /* padding: 10px; */
}

.grid-cell:hover {
  background-color: cornflowerblue;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}