.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: darkgray;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  width: 35vw;
  height: 35vw;
  margin: auto;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  /* padding: 10px; */
}

.grid-cell:hover {
  background-color: cornflowerblue;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#reset {
  margin: auto;
  text-align: center;
}

.grid-cell {
  font-size: xx-large;
  font-weight: bolder;
}

/* #reset-button {
  background-color: red;
} */