body {
  color: cornflowerblue;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: darkgray;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  width: 30vw;
  height: 30vw;
  margin: auto;
}

@media (max-width: 740px) {
  .grid-container{
    width: 60vw;
    height: 60vw;
  }
}
.grid-cell {
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  border: none;
}

.grid-cell:hover {
  background-color: cornflowerblue !important;
}


h1 {
  text-align: center;
  font-size: 250%;
}

h2 {
  text-align: center;
}

#reset {
  margin: auto;
  text-align: center;
}

.grid-cell {
  font-size: xx-large;
  font-weight: bolder;
}

#reset-button {
  background-color: cornflowerblue;
  border: none;
  color: white;
  font-weight: bolder;
  padding: 20px;
  border-radius: 5px;
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}